# Logs {{{1
*.log

# Diagnostic reports (https://nodejs.org/api/report.html) {{{1
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data {{{1
pids
_.pid
_.seed
\*.pid.lock

# wrangler project {{{1
.dev.vars
.wrangler/

# Vim {{{1
.*.sw?
*.session

# Node {{{1
node_modules/
